@media only screen and (min-width: 0px) and (max-width: 480px) {
    /* Code here */
    
    /* Code here */
    }
    /* ----------- Displays ------------------ */
    /* ----------- Displays ------------------ */
    .part2_1 {
        display: none;
    }
    .part2_2 {
        display: none;
    }
    .part2_3 {
        display: none;
    }
    .part2_4 {
        display: none;
    }
    .part2_5 {
        display: none;
    }
    .part2_6 {
        display: none;
    }
    .part2_7 {
        display: none;
    }
    .part2_8 {
        display: none;
    }
    .part2_9 {
        display: none;
    }
    .part2_10 {
        display: none;
    }
    /* ----------- Displays ------------------ */
    /* ----------- Displays ------------------ */