@font-face {
    font-family: Inter_bold;
    src: url(Fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter_medium;
    src: url(Fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter_r;
    src: url(Fonts/Inter-Regular.ttf);
}
/* ------------------------------------------- */
/* ------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #E4E6EB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 12px;
}
/* ------- part 1 -------- */
.part1 {
    background-color: #FFFFFF;
    width:15%;
    height: 200vh;
}
.mainSquare {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img23 {
    height: 30px;
    width: 30px;
    position: relative;
    top: 30px;
    right: 13px;
}
/* ----- part 1_1 -------- */
#square1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#h_25 {
    font-size: 18px;
}
.img3 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 15px;
}
.smallD {
    padding-top: 20px;
    padding-bottom: 20px;
}
#p3 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: Inter_medium;
    color: #767676;
    font-size: 14px;
}
.Sh {
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.links {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFB400;
    border-radius: 50%;
}
.ig2 {
    width: 13px;
    height: auto;
}
/* ------- part 1_2 ------- */
#square2 {
    padding-top: 15px;
    margin: 0px 13px;
}
.main_Pb {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 14px;
}
.sp_1 {
    background-color:#FFB400;
    padding-left: 2px;
    padding-right: 6px;
}
.hy {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.hr {
    width: 84%;
    height: auto;
}
#h_2 {
    margin-top: 30px;
}
.h21 {
    position: relative;
    font-family: Inter_bold;
    font-size: 15px;
}
#p_23 {
    color: #4caf50;
}
/* ------- part 1_3 ---------- */
#square3 {
    margin: 0px 15px;
}
#square4 {
    margin: 0px 15px;
}
.progress-container {
    width: 100%;
    border: 1.5px solid rgb(11, 213, 21);
    border-radius: 5px;
    height: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px 0px;
}
.progress-bar {
    height: 50%;
    background-color: #4caf50;
    border-radius: 5px;
    position: relative;
    left: 1px;
}
.Pb_head_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin: 0px 0px;
}
.Pb_head {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    font-size: 14px;
}
.main_Pb {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px 0px;
}
.h21 {
    margin-top: 15px;
}
#bar1 {
    width: 90%;
}
#bar2 {
    width: 80%;
}
#bar3 {
    width: 95%;
}
/* ---------- part 1_5 ------ */
#bar4 {
    width: 95%;
}
#bar5 {
    width: 90%;
}
#bar6 {
    width: 80%;
}
#square5 {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
}
.di {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: relative;
    left: 8px;
    top: 5px;
}
#hr3 {
    width: 150px;
    position: relative;
    left: 5px;
    top: 15px;
    bottom: 15px;
}
.p4 {
    font-size: 13px;
    font-family: Inter_medium;
}
.img8 {
    height: 13px;
    width: 13px;
    object-fit: cover;
    margin-top: 3px;
}
.h_21 {
    position: relative;
    left: 8px;
    font-size: 18px;
}
#square6 {
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sp1 {
    color: #FFB400;
}
.btn2 {
    height: 30px;
    width: 160px;
    position: relative;
    top: 40px;
    left: 0px;
    background-color:#FFB400;
    font-weight: bold;
    border: 0px solid white;
    border-radius: 5px;
    cursor: pointer;
}
#h_4 {
    position: relative;
    bottom: 20px;
}
/* ------- part 2 ----------- */
.part2 {
    width: 70%;
    height: 70vh;
}
/* -------- part 2_1 -------- */
#img1 {
    height: 370px;
    width: 270px;
    object-fit: cover;
    display: inline-block;
    position: relative;
    right: 200px;
    top: 22px;
    margin: 0px 0px;
    padding: 0px 0px;
}
.part2_1 {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    height: 70vh;
}
.heading {
    margin-right: 400px;
    position: relative;
    left: 50px;
    top: 45px;
    z-index: 0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
}
.Design_Icons{
    position: relative;
    left: 375px;
    bottom: 70px;
    margin-right: 300px;
}
.i1 {
    z-index: 3;
    position: relative;
    bottom: 220px;
    right: 250px;
    height: 12px;
    width: auto;
}
#img_4 {
    position: relative;
    bottom: 2px;
}
.i2 {
    z-index: 3;
    position: relative;
    bottom: 530px;
    left: 220px;
    height: 12px;
    width: auto;
}
.i3 {
    z-index: 3;
    position: relative;
    bottom: 550px;
    right: 340px;
    height: 12px;
    width: auto;
}
.i4 {
    z-index: 3;
    position: relative;
    bottom: 240px;
    left: 120px;
    height: 12px;
    width: auto;
}
.i5 {
    position: relative;
    bottom: 220px;
    left: 425px;
    height: 12px;
    width: auto;
}
.i6 {
    position: relative;
    bottom: 540px;
    left: 370px;
    height: 15px;
    width: auto;
}
.hs_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    bottom: 10px;
    padding-bottom: 15px;
    margin-top: 90px;
    margin-bottom: 20px;
}
#p2 {
    margin-left: 500px;
    margin-left: 500px;
    text-align: center;
    position: relative;
    right: 250px;
}
.btn_5 {
    height: 40px;
    width: 120px;
    font-weight: bold;
    margin: 30px 0px;
    background-color: #FFB400;
    outline: none;
    border: 0px solid white;
    border-radius: 5px;
    cursor: pointer;
    font: 14px;
    font-family: Inter_medium;

}
.h_22 {
    font-size: 40px;
    font-family: Inter_bold;
    margin-bottom: 10px;
    text-wrap: nowrap;
}
.Design_Icons {
    display: none;
}
.p_23 {
    font-size: 18px;
    font-family: Inter_medium;
}
.heading {
    position: relative;
    top: 60px;
}
/* ------- part 2_2 -------- */
.part2_2 {
    height: 70vh;
    position: relative;
    top: 40px;
}
.box {
    width: 380px;
    height: 190px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}
.box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    position: relative;
    top: 30px;
}
.ig {
    height: 70px;
    width: 70px;
    object-fit: cover;
    position: relative;
    bottom: 10px;
}
.ht {
    font-size: 20px;
    padding-bottom: 8px;
    position: relative;
    font-family: Inter_r;
}
.hp {
    font-family: Inter_medium;
    color: #767676;
    font-size: 14px;
    margin: 7px 0px;
}
#h_22 {
    position: relative;
    left: 74px;
    bottom: 8px;
    font-family: Inter_r;
}
.p20 {
    position: relative;
    left: 85px;
    top: 8px;
    color: #FFB400;
}
#hp_1 {
    margin: 0px 5px;
    font-family: Inter_medium;
}
#h5 {
    font-family: Inter_bold;
}
#p2 {
    font-family: Inter_medium;
}
/* ------- part 2_3 -------- */
#p6 {
    margin-left: 500px;
    margin-left: 500px;
    text-align: center;
    position: relative;
    right: 250px;
    font-family: Inter_medium;
}
#h6 {
    font-family: Inter_bold;
}
.main_prt {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.prt {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#p7_2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Inter_medium;
    color: #767676;
    font-size: 14px;
}
#h7 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: Inter_bold;
}
.p6 {
    margin: 0px 250px;
    text-align: center;
}
#sp_2 {
    font-size: 40px;
    font-family: Inter_bold;
}
.portion {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}
#hs_3 {
    margin-top: 300px;
}
.btn4 {
    height: 36px;
    width: 163px;
    margin: 15px 0px;
    border-radius: 30px;
    margin-left: 8px;
    font-weight: bold;
    border: 0px solid red;
}
#btn4_1 {
    background-color:#FFB400;
}
.super {
    background-color:#FFB400;
    width: 98%;
    text-align: center;
    padding: 3px 3px;
}
.p7 {
    font-family: Inter_medium;
    font-size: 15px;
}
/* ------- part 2_4 ------- */
.h_24 {
    font-family: Inter_bold;
}
.graphic_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    margin-top: 15px;
}
.gi {
    height: 10px;
    width: 10px;
    background-color: coral;
    border-radius: 50%; 
}
#p8 {
    margin-right: 10px;
    position: relative;
    right: 100px;
    text-align: center;
    position: relative;
    left: 0px;
}
.reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.img_10 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 15px 0px;
}
.profile_name {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.p_25 {
    font-family: Inter_regular;
}
.p_26 {
    font-family: Inter_medium;
}
/* ------ part 2_5 -------- */

.Education {
    background-color: #FFFFFF;
    padding: 40px;
}
.sec {
    display: flex;
    flex-direction: row;
}
.explain {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Cn {
    position: relative;
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.date {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}
#h9 {
    font-size: 18px;
}
#sp_3 {
    background-color:#FFB400;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    bottom: 2px;
}
#p10 {
    font-size: 16px;
    font-family: Inter_medium;
}
#h20 {
    margin: 20px 20px;
}
#h11 {
    font-family: Inter_bold;
}
#p9 {
    color: #767676;
}
/* ----- part 2_7,6 ----- */
.sec-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-right: 0px;
    margin-bottom: 16px;
}
.img_5 {
    height: 170px;
    width: 270px;
    object-fit: cover;
    z-index: 1;
}
.temrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tem0 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tem {
    width: auto;
    height: auto;
}
#img_14 {
    background-color: rgb(129, 3, 247);
}
#img22 {
    z-index: 1;
}
#img21 {
    z-index: 2;
    position: relative;
    bottom: 200px;
}
.sec {
    margin-bottom: 20px;
}
.hr1 {
    margin-top: 10px;
    margin-bottom: 15px;
}
/* ----- part 2_8 ----- */
.part2_8 {
    position: relative;
    width: auto;
}
.temrow_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tem7 {
    background-color: white;
    width: auto;
    height: auto;
}
/* ----- part 2_9 ----- */
.part2_9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form {
    width: 400px;
    height: 431px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 2%;
    font-family: Inter_medium;
}
.f {
    height: 35px;
    font-size: 16px;
    background-color: rgb(238, 235, 235);
    border: 0px solid white;
    text-indent: 5px;
}
.fy {
    font-size: 16px;
    background-color: rgb(238, 235, 235);
    border: 0px solid white;
    caret-color: black;
    padding-bottom: 120px;
    text-indent: 5px;
    padding-top: 5px;

}
.l {
    margin: 8px 0px;
    font-size: 14px;
}
#btn3 {
    margin-top: 20px;
    width: 140px;
    height: 40px;
    font-weight: bold;
    background-color:#FFB400;
    border: 0px solid white;
    border-radius: 5px;
}
.perI_2 {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
}
.h13 {
    margin: 50px 0px;
    font-size: 27px;
    font-family: Inter_bold;
}
.img_6 {
    height: 30px;
    width: 30px;
    background-color:#FFB400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    bottom: 5px;
    right: 15px;
}
.img_7 {
    height: 18px;
    width: 18px;
    object-fit: cover;
}
.main_perI {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.perI_parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    height: 150px;
    width: 300px;
    border-radius: 2%;
}
.mainbox3 {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20px;
    font-family: Inter_medium;
}
.box3 {
    display: flex;
    flex-direction: column;
    font-family: Inter_medium;
    color: #767676;
}
#box_3 {
    margin-left: 10px;
}
#box_2 {
    margin-right: 100px;
}
/* ------- part 2_10 ------ */
.img_12 {
    margin-top: 70px;
    height: 100%;
    width: 100%;
}
.Endpart_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin: 15px 0px;
}
.Endpart_3 {
    height: 38px;
    width: 100%;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* ------- part 3 ------ */
.part3 {
    background-color: #FFFFFF;
    height: 200vh;
    width: 6%;
}
.icon_set_1 {
    position: relative;
    left: 20px;
    top: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.icons_cover {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: rgb(214, 205, 205, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
#ic2 {
    height: 25px;
    width: 25px;
    position: relative;
    top: 40px;
    left: 24px;
}